<%= form_for [@site, @site_record] do |f| %>
    <td></td>
    <td><%= f.text_field :date, class: 'input-small datepicker' %></td>
    <td><%= f.number_field :tc, class: "input-small" %></td>
    <td><%= f.number_field :nc, class: "input-small" %></td>
    <td><%= f.number_field :br, class: "input-small" %></td>
    <td><%= f.number_field :ea, class: "input-small" %></td>
    <td><%= f.number_field :bd, class: "input-small" %></td>
    <td><%= f.submit %></td>
<% end %>

