<% content_for :sidebar do %>
    <h1>Sites</h1>
    <%= link_to @site.sitename, site_site_records_path(@site) %>
<% end %>

<h1>Daily Site Information for <%= @site.sitename %></h1>

<table class="table table-striped" id="site_records_table">
  <tr>
    <th>Date</th>
    <th>Total Children</th>
    <th>New Children</th>
    <th>Books Read</th>
    <th>Enrichment Activities</th>
    <th>Books Donated</th>
    <th></th>
    <th></th>
  </tr>
  <tbody>
  <%= render @site_records %>
  </tbody>
</table>

<br />
<table class="table">
<%= form_for([@site, @site_record], remote: true) do |f| %>
      <tr>
      <th><%= f.label :date %></th>
      <th><%= f.label "Total Children" %></th>
      <th><%= f.label "New Children" %></th>
      <th><%= f.label "Books Read" %></th>
      <th><%= f.label "Enrichment Activities" %></th>
      <th><%= f.label "Books Donated" %></th>
      <th></th>
      </tr>
      <tr>
      <td><%= f.text_field :date, value: Date.today.strftime('%Y-%m-%d'), :class => 'input-small datepicker' %></td>
      <td><%= f.number_field :tc, class: "input-small"%></td>
      <td><%= f.number_field :nc, class: "input-small" %></td>
      <td><%= f.number_field :br, class: "input-small" %></td>
      <td><%= f.number_field :ea, class: "input-small" %></td>
      <td><%= f.number_field :bd, class: "input-small" %></td>
      <td><%= f.submit %></td>
      </tr>
<% end %>
</table>

