%h3 Sites
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Site Name
        %th supervisor
        %th
        %th
        %th
    %tbody
      - @sites.each do |site|
        %tr
          %td= link_to site.sitename, site_site_records_path(site)
          %td= site.supervisor
          %td= link_to "Edit Site Days", site_site_records_path(site)
          %td= link_to "Edit Children", site_children_path(site)
          %td= link_to "Edit Attendances", site_attendances_path(site)

