<h1>Attendance</h1>
<table class="table table-bordered">
  <thead>
  <th>Child</th>
  <th>Age</th>
  <th>Assessment</th>
  <th colspan="2">Monday 5/6</th>
  <th colspan="2">Tuesday 5/7</th>
  <th colspan="2">Wednesday 5/8</th>
  <th colspan="2">Thursday 5/9</th>
  <th colspan="2">Friday 5/10</th>
  </thead>
  <thead>
  <th colspan="3"></th>
  <th>session</th>
  <th>time</th>
  <th>session</th>
  <th>time</th>
  <th>session</th>
  <th>time</th>
  <th>session</th>
  <th>time</th>
  <th>session</th>
  <th>time</th>
  </thead>
  <tbody>
  <% @attendances.each do |ar| %>
      <tr>
        <td><%= ar.child.first %> <%= ar.child.last %></td>
        <td><%= ar.child.age %></td>
        <% ar.date.each do |date| %>
            <td><%= date %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Attendance', new_site_attendance_path(@site) %>
